mixin product(img, title, p)
    .product
        img(src=img)
        h2=title
        p=p

<!DOCTYPE html>
html(lang="zh")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title icecream
    body
    .banner
        ul
            li 連結
            li Logo
            li 連結
    .content
        .introduction
            h1 Title
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique eius temporibus adipisci assumenda magnam veniam expedita. Nulla sequi voluptatum at.
        +product("product1.png", "小標題", "內文")
        +product("product2.png", "小標題", "內文")
        +product("product3.png", "小標題", "內文")
        +product("about.png", "中標題", "內文")
    .footer icecream &copy 2019

